.input_wrapper {
  display: flex;
  flex-direction: column;
}
.image {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 10em;
  cursor: pointer;
  transition: 0.5s filter cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    filter: brightness(0.7);
  }
}
